# =========================
# HDFS
# =========================
HDFS_RAW_INPUT=hdfs://namenode:9000/user/behavior/raw/UserBehavior.csv
HDFS_CLEANED_OUTPUT=hdfs://namenode:9000/user/behavior/cleaned/user_behavior_cleaned
HDFS_CLEANED_INPUT=hdfs://namenode:9000/user/behavior/cleaned/user_behavior_cleaned
HDFS_FEATURE_OUTPUT=hdfs://namenode:9000/user/behavior/features/user_behavior_features.parquet
HDFS_FEATURE_INPUT=hdfs://namenode:9000/user/behavior/features/user_behavior_features.parquet

# =========================
# Spark
# =========================
SPARK_MASTER=local[2]

# =========================
# MySQL
# =========================
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=hive
MYSQL_PASSWORD=hive
MYSQL_DATABASE=metastore
MYSQL_CHARSET=utf8mb4

# =========================
# HBase
# =========================
HBASE_HOST=127.0.0.1
HBASE_PORT=9090
HBASE_TABLE=user_features
HBASE_COLUMN_FAMILY=f

# =========================
# Output
# =========================
OUTPUT_DATA_DIR=outputs/data_samples
OUTPUT_REPORT_DIR=outputs/reports
OUTPUT_FIGURE_DIR=outputs/figures
